<!-- INVOICE : BEGIN -->
<tr>
  <td width="100%" class="td-title">
    Your invoice is done !
  </td>
</tr>
<tr>
  <td align="center" valign="top" style="padding: 10px;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr valign="top">
        <!-- Column : BEGIN -->
        <td class="stack-column-center">
          <table cellspacing="0" cellpadding="0" border="0">
            <tr valign="top">
              <td style="padding: 10px; text-align: center; font-weight: bold; font-size: 15px;">
                Invoicing address
              </td>
            </tr>
            <tr>
              <td style="font-family: sans-serif; font-size: 13px; mso-height-rule: exactly; line-height: 20px; color: #2a2a2a; padding: 0 10px 10px; text-align: left;" class="center-on-narrow">
                {{ customer.name }} <br />
                {{ customer.street }} <br />
                {{ customer.zip }} {{ customer.city }} <br />
                {{ customer.country }}
              </td>
            </tr>
          </table>
        </td>
        <!-- Column : END -->
        <!-- Column : BEGIN -->
        <td class="stack-column-center">
          <table cellspacing="0" cellpadding="0" border="0">
            <tr valign="top">
              <td style="padding: 10px; text-align: center; font-weight: bold; font-size: 15px;">
                Invoice
              </td>
            </tr>
            <tr>
              <td style="font-family: sans-serif; font-size: 13px; mso-height-rule: exactly; line-height: 20px; color: #2a2a2a; padding: 0 10px 10px; text-align: left;" class="center-on-narrow">
                <table cellspacing="10" class="table--invoice">
                  <tr>
                    <td class="table--invoice-label">Date</td>
                    <td class="table--invoice-content">{{ order.date }}</td>
                  </tr>
                  <tr>
                    <td class="table--invoice-label">Reference</td>
                    <td class="table--invoice-content">{{ order.reference }}</td>
                  </tr>
                  <tr>
                    <td class="table--invoice-label">Excl. tax</td>
                    <td class="table--invoice-content">{{ invoice.without_vat }} {{ invoice.currency }}</td>
                  </tr>
                  <tr>
                    <td class="table--invoice-label">Tax ({{ invoice.vat_percentage }}%)</td>
                    <td class="table--invoice-content">{{ invoice.vat_amount }} {{ invoice.currency }}</td>
                  </tr>
                  <tr>
                    <td class="table--invoice-label">Incl. tax</td>
                    <td class="table--invoice-content">{{ invoice.total }} {{ invoice.currency }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <!-- Column : END -->
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="td-button-container">
    <table cellspacing="0" cellpadding="0" border="0" align="center" style="Margin: auto">
      <tr>
        <td class="button-td">
          <a href="{{ cta.link }}" style="" class="button-a">
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff">{{ cta.label }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- INVOICE : END -->