<!-- 1 Column Text : BEGIN -->
<tr>
  <td width="100%" class="td-title">
    Your opinion matters to us !
  </td>
</tr>
<tr>
  <td width="100%" style="text-align: center; font-family: sans-serif; color: #2a2a2a; border-collapse:separate !important;">
    {{ rating.sentence }}
  </td>
</tr>
<tr>
  <td width="100%" style="padding: 0; border-collapse:separate !important;">
    <table class="main-wrapper" style="border-collapse: collapse;border-spacing: 0;display: table;table-layout: fixed; margin: 0 auto; -webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-rendering: optimizeLegibility; width: 100%;">
      <tbody>
        <tr>
          <td style="padding: 0;vertical-align: top; width: 100%;" class="">
            <center>
              <!--[if gte mso 11]>
                <center>
                  <table><tr><td class="ms-sixhundred-table" width="600">
              <![endif]-->
              <table class="main-content" style="width: 100%; max-width: 600px; border-collapse: separate;border-spacing: 0;margin-left: auto;margin-right: auto; background-color: #ffffff; overflow: hidden;" width="600">
                <tbody>
                  <tr>
                    <td style="padding: 0;vertical-align: top;">
                      <table class="main-content" style="border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;width: 100%; max-width: 600px;">
                        <tbody>
                          <tr>
                            <td style="padding: 0;vertical-align: top;text-align: left">
                              <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%;">
                                <tbody>
                                  <tr>
                                    <td class="content-padding" style="padding: 0;vertical-align: top">
                                      <div class="body-copy" style="margin: 0;">
                                        <div style="margin: 0;color: #60666d;font-size: 50px;font-family: sans-serif;line-height: 20px; text-align: left;">
                                          <div style="width: 100%; text-align: center; float: left;">
                                            <div class="rating" style="text-align: center; margin: 0; font-size: 50px; width: 275px; margin: 0 auto; margin-top: 10px;">
                                              <table style="border-collapse: collapse;border-spacing: 0;width: 275px; margin: 0 auto; font-size: 50px; direction: rtl;" dir="rtl">
                                                  <tbody>
                                                    <tr>
                                                      <td style="padding: 0;vertical-align: top;" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                        <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                          <a href="{{rating.url}}?rating=5" class="star" target="_blank" lang="x-star-divbox" style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" tabindex="1">
                                                              <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                              <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                          </a>
                                                          <a href="{{rating.url}}?rating=5" class="star-number" target="_blank" lang="x-star-number" style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">5</a>
                                                        </div>
                                                      </td>
                                                      <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                        <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                          <a href="{{rating.url}}?rating=4" class="star" target="_blank" lang="x-star-divbox" style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" tabindex="2">
                                                              <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                              <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                          </a>
                                                          <a href="{{rating.url}}?rating=4" class="star-number" target="_blank" lang="x-star-number" style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">4</a>
                                                        </div>
                                                      </td>
                                                      <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                        <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                          <a href="{{rating.url}}?rating=3" class="star" target="_blank" lang="x-star-divbox" style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" tabindex="3">
                                                              <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                              <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                          </a>
                                                          <a href="{{rating.url}}?rating=3" class="star-number" target="_blank" lang="x-star-number" style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">3</a>
                                                        </div>
                                                      </td>
                                                      <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                        <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                          <a href="{{rating.url}}?rating=2" class="star" target="_blank" lang="x-star-divbox" style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" tabindex="4">
                                                              <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                              <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                          </a>
                                                          <a href="{{rating.url}}?rating=2" class="star-number" target="_blank" lang="x-star-number" style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">2</a>
                                                        </div>
                                                      </td>
                                                      <td style="padding: 0;vertical-align: top" width="55" class="star-wrapper" lang="x-star-wrapper">
                                                        <div style="display: block; text-align: center; float: left;width: 55px;overflow: hidden;line-height: 60px;">
                                                          <a href="{{rating.url}}?rating=1" class="star" target="_blank" lang="x-star-divbox" style="color: #FFCC00; text-decoration: none; display: inline-block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;" tabindex="5">
                                                              <div lang="x-empty-star" style="margin: 0;display: inline-block;">☆</div>
                                                              <div lang="x-full-star" style="margin: 0;display: inline-block; width:0; overflow:hidden;float:left; display:none; height: 0; max-height: 0;">★</div>
                                                          </a>
                                                          <a href="{{rating.url}}?rating=1" class="star-number" target="_blank" lang="x-star-number" style="font-family: sans-serif;color: #AEAEAE; font-size: 14px; line-height: 14px; text-decoration: none; display: block;height: 50px;width: 55px;overflow: hidden;line-height: 60px;border-bottom: 3px solid #FFFFFF; text-align: center;">1</a>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                          <div style="margin-bottom: 0px; line-height: 30px; font-size: 30px;">&nbsp;</div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--[if gte mso 11]>
                </td></tr></table>
              </center>
              <![endif]-->
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>